[Unit]
Description=SkiSniper Web Application
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/skisniper
Environment="PATH=/var/www/skisniper/venv/bin"
ExecStart=/var/www/skisniper/venv/bin/gunicorn -c gunicorn_config.py app:app

[Install]
WantedBy=multi-target.target 